<div class="announcers">
    <announcer [announcer]="playByPlay"      [hidden]="!showPlay  || interviewing" [ngStyle]="{'order': playByPlay.order}"></announcer>
    <announcer [announcer]="colorCommentary" [hidden]="!showColor || interviewing" [ngStyle]="{'order': colorCommentary.order}"></announcer>
    <announcer [announcer]="fieldReporter"   [hidden]="!showField"                 [ngStyle]="{'order': fieldReporter.order}"></announcer>
    <announcer [announcer]="player"          [hidden]="!(interviewing)"            [ngStyle]="{'order': player.order}"></announcer>
</div>