.draft-summary{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;

  .draft-pick {
    height: 100px;
    width: 175px;
    border: 1px solid black;
    margin: 10px;
    flex: 1 0 calc(13.29% - 20px);
  }
}