<div class="score-overlay">
    <div class="logo-wrap">
        <div class="logo">
            <span>MNL</span>
        </div>
    </div>
    <div class="scores">
        <team [team]="awayTeam" class="away score" [style.background-color]="awayTeam.color"></team>
        <team [team]="homeTeam" class="home score" [style.background-color]="homeTeam.color"></team>
    </div>
    <div class="period-series">
        <div class="period">{{period}}</div>
        <div class="series">{{seriesLead}}</div>
    </div>
</div>

<announcers></announcers>