<div class="draft-balls">
  <input type="button" (click)="addBall('Americans')"     class="Americans"     value="Americans" />
  <input type="button" (click)="addBall('Golden Seals')"  class="Golden Seals"  value="Golden Seals" />
  <input type="button" (click)="addBall('Scouts')"        class="Scouts"        value="Scouts" />
  <input type="button" (click)="addBall('Nordiques')"     class="Nordiques"     value="Nordiques" />
  <input type="button" (click)="addBall('North Stars')"   class="North Stars"   value="North Stars" />
  <input type="button" (click)="addBall('Tigers')"        class="Tigers"        value="Tigers" />
  <input type="button" (click)="addBall('Whalers')"       class="Whalers"       value="Whalers" />
  <hr/>
  <input type="button" (click)="addBall('')"  value="Clear" />
</div>
