<form class="example-form">
  <mat-form-field class="example-full-width form-group">
      <label for="player-name">Player Name</label>
    <input class="form-control" type="text" placeholder="Select Drafted Player" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button type="submit" class="btn btn-primary">Draft</button>
</form>