:host {
  display: flex;
  flex-direction: column;

  .picks {
    display: inline-grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-flow: dense;
    align-content: start;
    justify-content: start;
    column-gap: 20px;
    row-gap: 10px;

    .pick:nth-child(14n + 8) {
      grid-column: 7;
    }
    .pick:nth-child(14n + 9) {
      grid-column: 6;
    }
    .pick:nth-child(14n + 10) {
      grid-column: 5;
    }
    .pick:nth-child(14n + 11) {
      grid-column: 4;
    }
    .pick:nth-child(14n + 12) {
      grid-column: 3;
    }
    .pick:nth-child(14n + 13) {
      grid-column: 2;
    }
  }
}
