@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700|Open+Sans&display=swap');

*{
    font-family: "Titillium Web", "Open Sans", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
}

body {
    margin: 0;
}


$overlayheight: 100px;
$logomargin: 5px;
$logoheight: $overlayheight - $logomargin*2;

@mixin fade-transition($element) {
	-webkit-transition: $element 0.15s ease-in-out;
	-moz-transition: $element 0.15s ease-in-out;
	-ms-transition: $element 0.15s ease-in-out;
	-o-transition: $element 0.15s ease-in-out;
	transition: $element 0.15s ease-in-out;
}