@import "../../styles.scss";

:host {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    font-size: 36px;
    align-items: center;
    position: relative;

    .name-container {

        left: 0;
        min-width: 75%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .logo {
            max-height: $logoheight;
        }

        .name {
            color: white;
        }
    }

    .score-container {

        min-width: 20%;
        margin: auto;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        align-items: center;
        justify-content: center;

        .score {
           
            color: white;
            text-align: center;
        }
    }

    .goal-banner {
        background-color: rgb(255, 234, 43);
        top:0;
        left:0;
        width:100%;
        height:100%;
        text-align:center;
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
        opacity: 0;
        transition: 1s opacity cubic-bezier(0.68, -0.55, 0.265, 1.55);

        &.visible{
            opacity: 1;
        }
        
        h1 {
            font-weight: 900;
            font-style: oblique;
            font-size: 72px;
        }

        .goal-light {
            height: $logoheight;
        }
    }
}