<div class="name-container" [ngClass]="{'homeTeam': this.team.isHomeTeam === true }">
    <div class="logo-wrapper">
        <img class="logo" [src]="this.team.logo" />
    </div>
    <div class="name">{{this.team.teamName}}</div>
</div>
<div class="score-container">
    <div class="score">{{this.team.score}}</div>
</div>
<div class="goal-banner" [ngClass]="{'visible': this.showGoalBanner === true }">
    <img src="https://cdn2.sbnation.com/imported_assets/2031833/goal-light-solo-ani.gif" class="goal-light" />
    <h1>Goal</h1>
    <img src="https://cdn2.sbnation.com/imported_assets/2031833/goal-light-solo-ani.gif" class="goal-light" />
    <i></i>
</div>
