.jumbo {

    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        width: 10vw;
    }
}

.mini-box {
    width: 100px;
    height: 100px;
}

.thumbnail {
    width: auto;
    height: 100px;
    margin: 10px;
}