<div class="container-fluid">
    <div class="jumbo">
        <img src="https://mnlhl.com/img/mnlhl-logo.png" />
        <h1 style="margin: 0">Scorekeeper</h1>
    </div>

    <form #scoreForm="ngForm" (ngSubmit)="updateScore(scoreForm.form)">
        <button class="btn btn-primary submit" [disabled]="!scoreForm.valid">Submit</button>
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label for="period">Period</label>
                    <input type="number" class="form-control" name="period" [(ngModel)]="period" />
                </div>
            </div>
            <hr />
        </div>
        <div class="row">
            <div class="col-xs">
                <div class="form-group">
                    <img class="thumbnail" src="{{awayTeam.logo || '' }}" />
                    <label for="awayTeam-score">{{awayTeam.teamName}} Score</label>
                    <input type="number" class="form-control" name="awayTeam-score" [(ngModel)]="awayTeam.score" />
                </div>
                <div class="form-group">
                    <label for="awayTeam-name">Away Team Name</label>
                    <input type="text" class="form-control" name="awayTeam-name" [(ngModel)]="awayTeam.teamName" />
                </div>
                <div class="form-group">
                    <label for="awayTeam-logo">{{awayTeam.teamName}} Logo</label>
                    <input type="text" class="form-control" name="awayTeam-logo" [(ngModel)]="awayTeam.logo" />
                </div>
                <div class="form-group">
                    <label for="awayTeam-color">{{awayTeam.teamName}}Color</label>
                    <input type="color" class="form-control" name="awayTeam-color" [(ngModel)]="awayTeam.color" />
                    <!-- <div class="mini-box" style.background-color="{{awayTeam.color}}"></div> -->
                </div>
                <div class="form-group">
                    <label for="awayTeam-gamesWon">{{awayTeam.teamName}} Won</label>
                    <input type="number" class="form-control" name="awayTeam-gamesWon"
                        [(ngModel)]="awayTeam.gamesWon" />
                </div>
            </div>
            <hr />
            <div class="col-xs">
                <div class="form-group">
                    <img class="thumbnail" src="{{homeTeam.logo || ''}}" />
                    <label for="homeTeam-score">{{homeTeam.teamName}} Score</label>
                    <input type="number" class="form-control" name="homeTeam-score" [(ngModel)]="homeTeam.score" />
                </div>
                <div class="form-group">
                    <label for="homeTeam-name">Home Team Name</label>
                    <input type="text" class="form-control" name="homeTeam-name" [(ngModel)]="homeTeam.teamName" />
                </div>
                <div class="form-group">
                    <label for="homeTeam-logo">{{homeTeam.teamName}} Logo</label>
                    <input type="text" class="form-control" name="homeTeam-logo" [(ngModel)]="homeTeam.logo" />
                </div>
                <div class="form-group">
                    <label for="homeTeam-color">{{homeTeam.teamName}} Color</label>
                    <input type="color" class="form-control" name="homeTeam-color" [(ngModel)]="homeTeam.color" />
                    <!-- <div class="mini-box" style.background-color="{{homeTeam.color}}"></div> -->
                </div>
                <div class="form-group">
                    <label for="homeTeam-gamesWon">{{homeTeam.teamName}} Won</label>
                    <input type="number" class="form-control" name="homeTeam-gamesWon"
                        [(ngModel)]="homeTeam.gamesWon" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label for="playByPlayName">Play by Play Announcer Name</label>
                    <input type="text" class="form-control" name="playByPlay-announcerName"
                        [(ngModel)]="playByPlay.announcerName" />
                </div>
                <div class="form-group">
                    <label for="playByPlayTitle">Play by Play Title</label>
                    <input type="text" class="form-control" name="playByPlay-title" [(ngModel)]="playByPlay.title" />
                </div>
                <div class="form-group">
                    <label for="playByPlaySubtitle">Play by Play Subtitle</label>
                    <input type="text" class="form-control" name="playByPlay-subtitle"
                        [(ngModel)]="playByPlay.subtitle" />
                </div>
                <hr />
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="colorCommentaryName">Color Commentary Name</label>
                    <input type="text" class="form-control" name="colorCommentary-announcerName"
                        [(ngModel)]="colorCommentary.announcerName" />
                </div>
                <div class="form-group">
                    <label for="colorCommentaryTitle">Color Commentary Title</label>
                    <input type="text" class="form-control" name="colorCommentary-title"
                        [(ngModel)]="colorCommentary.title" />
                </div>
                <div class="form-group">
                    <label for="colorCommentarySubtitle">Color Commentary Subtitle</label>
                    <input type="text" class="form-control" name="colorCommentary-subtitle"
                        [(ngModel)]="colorCommentary.subtitle" />
                </div>
                <hr />
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="fieldReporterName">Field Reporter Name</label>
                    <input type="text" class="form-control" name="fieldReporter-announcerName"
                        [(ngModel)]="fieldReporter.announcerName" />
                </div>
                <div class="form-group">
                    <label for="fieldReporterTitle">Field Reporter Title</label>
                    <input type="text" class="form-control" name="fieldReporter-title"
                        [(ngModel)]="fieldReporter.title" />
                </div>
                <div class="form-group">
                    <label for="fieldReporterSubtitle">Field Reporter Subtitle</label>
                    <input type="text" class="form-control" name="fieldReporter-subtitle"
                        [(ngModel)]="fieldReporter.subtitle" />
                </div>
                <hr />
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="playerName">Interviewed Player Name</label>
                    <input type="text" class="form-control" name="player-announcerName"
                        [(ngModel)]="player.announcerName" />
                </div>
                <div class="form-group">
                    <label for="playerTitle">Interviewed Player Title</label>
                    <input type="text" class="form-control" name="player-title" [(ngModel)]="player.title" />
                </div>
                <div class="form-group">
                    <label for="playerSubtitle">Interviewed Player Subtitle</label>
                    <input type="text" class="form-control" name="player-subtitle" [(ngModel)]="player.subtitle" />
                </div>
                <hr style="margin-bottom: 100px" />
            </div>
        </div>
        <button class="btn btn-primary submit full-screen-button" [disabled]="!scoreForm.valid">Submit</button>
    </form>
</div>