.jumbo {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5px;

    img {
        width: 20vw;
    }
}

button.submit {
    width: 100%;
    margin: 10px 0;
}

.row {
    margin: 0;
}

.col-xs {
    width: 40%;
    margin: 18px;
}

.mini-box {
    width: 100px;
    height: 100px;
}

.thumbnail {
    width: auto;
    height: 100px;
    margin: 10px;
}